<section id="banner" class="major">
  <div class="inner">
    <header id="adventureheader">
      <h1>Adventure Oats</h1>
    </header>
    <div class="content">
      <p>Mumblecore listicle banh mi vice twee. Swag bespoke sriracha shabby chic, VHS schlitz skateboard tofu mlkshk freegan bushwick trust fund meggings affogato organic. Semiotics farm-to-table DIY swag typewriter. Crucifix asymmetrical bespoke, normcore ethical waistcoat schlitz raclette. Street art banh mi sriracha tumeric, chia hashtag bitters. Typewriter vape 3 wolf moon, squid next level blog air plant trust fund gochujang disrupt fingerstache. Activated charcoal actually tote bag, portland thundercats hella coloring book.</p>
      <ul class="actions">
        <li><%= link_to 'make an account', new_user_registration_path, class:"button next scrolly" %></li>
      </ul>
    </div>
  </div>
</section>
<div id="main">

<!-- One -->
<section id="one" class="tiles">
	<article>
		<span class="indexbox">
      <%= image_tag "https://images.pexels.com/photos/196464/pexels-photo-196464.jpeg?w=940&h=650&auto=compress&cs=tinysrgb", class: "images" %>
		</span>
		<header class="major">
      <h3><%= link_to 'About', about_index_path, class:"link" %></h3>
      <p>Check out our team</p>
		</header>
	</article>
	<article>
		<span class="indexbox">
      <%= image_tag "https://images.pexels.com/photos/216951/pexels-photo-216951.jpeg?w=940&h=650&auto=compress&cs=tinysrgb", class: "images" %>
		</span>
		<header class="major">
			<h3><%= link_to 'Products', products_path, class:"link" %></h3>
			<p>feugiat amet tempus</p>
		</header>
	</article>
	<article>
		<span class="indexbox">
      <%= image_tag "https://images.pexels.com/photos/297642/pexels-photo-297642.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class: "images" %>		</span>
		<header class="major">
			<h3><%= link_to 'adventures', adventures_path, class:"link" %></h3>
			<p>Lorem etiam nullam</p>
		</header>
	</article>
	<article>
		<span class="indexbox">
      <%= image_tag "https://images.pexels.com/photos/239323/pexels-photo-239323.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class: "images" %>
		</span>
		<header class="major">
			<h3><a href="landing.html" class="link">Newsletter</a></h3>
			<p>Nisl sed aliquam</p>
		</header>
	</article>
</section>

  <section id="two">
    <div class="inner">
    	<header class="major">
    		<h2>Massa libero</h2>
    	</header>
    	<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
    	<ul class="actions">
    		<li><a href="landing.html" class="button next">Get Started</a></li>
    	</ul>
    </div>
  </section>
</div>
