<section id="banner" class="major">
  <div class="inner">
    <header id="adventureheader">
      <%= image_tag 'oat-logo.png', id: 'oat-logo' %>
    </header>
    <div class="content">
      <p>What's in your breakfast? Our oatmeal has fruit, nuts, and seeds to supercharge your mornings and give you the long lasting energy to fuel your adventures!</p>
    </div>
  </div>
</section>
<div id="main">
<section id="one" class="tiles">
	<article>
		<span class="indexbox">
      <%= image_tag "https://images.pexels.com/photos/196464/pexels-photo-196464.jpeg?w=940&h=650&auto=compress&cs=tinysrgb", class: "images" %>
		</span>
		<header class="major">
      <h3><%= link_to 'About', about_index_path, class:"link" %></h3>
      <p>Check out our team</p>
		</header>
	</article>
	<article>
		<span class="indexbox">
      <%= image_tag "https://images.pexels.com/photos/216951/pexels-photo-216951.jpeg?w=940&h=650&auto=compress&cs=tinysrgb", class: "images" %>
		</span>
		<header class="major">
			<h3><%= link_to 'Products', products_path, class:"link" %></h3>
			<p>The entire reason this site exists</p>
		</header>
	</article>
	<article>
		<span class="indexbox">
      <%= image_tag "https://images.pexels.com/photos/297642/pexels-photo-297642.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class: "images" %>		</span>
		<header class="major">
			<h3><%= link_to 'Adventures', adventures_path, class:"link" %></h3>
			<p>See what we're up to</p>
		</header>
	</article>
	<article>
		<span class="indexbox">
      <%= image_tag "https://images.pexels.com/photos/239323/pexels-photo-239323.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", class: "images" %>
		</span>
		<header class="major">
			<h3><%= link_to 'Get in Touch', contact_index_path, class: 'link' %></h3>
		</header>
	</article>
</section>

  <section id="two">
    <div class="inner">
    	<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
    </div>
  </section>

</div>
