<div class="container">
  <strong><%= link_to "Home", root_path %></strong>
  <h1 class = "major"><%= @user.username %>'s instagram feed</h1>
    <div class='row'>
      <% @recent_media_items.each do |media| %>
      <div class="photo-wrap">
          <div class="gallery">
            <img src="<%= media.images.standard_resolution.url%> ">
          </div>
            <div class="caption">
              <%= media.caption.text %>
            <% if media.location == nil %>
            <p>The idiots who took this picture didn't tag a location</p>
            <% else %>
              <%= media.location.name %>
              <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
