
<div class = "product-info">
<%= image_tag(@product.image.url, id:'product-photo') %>
  <ul>
    <li><%= @product.title %></li>
    <li><%= @product.size %></li>
    <li><%= @product.flavor %></li>
    <li><%= @product.description %></li>
    <li><%= @product.price %></li>
    <li><%= @product.diet %></li>
  </ul>
</div>
