<div class='container'>
  <i class="fa fa-home" aria-hidden="true"></i>
  <strong><%= link_to "Home", root_path %></strong>
  <br>
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <strong><%= link_to "Back to Products", products_path %></strong>
  <div class = "product-info">
  <div class='box'>
  <%= image_tag(@product.image.url, id:'product-photo') %>
    <ul>
      <li><%= @product.title %></li>
      <li><%= @product.size %> Ounces</li>
      <li><%= @product.flavor %></li>
      <li><%= @product.description %></li>
      <li>$<%= @product.price %></li>
      <li><%= @product.diet %></li>
    </ul>
  </div>
    <hr class='line'>

    <h3>Reviews</h3>
        <% @reviews.each do |review| %>
          <%= review.content %><br>
          <% if current_user %>
          Author: <%= review.author %>
          <% else %>
          <p>Sign in to see who wrote this review!</p>
          <% end %>
          <hr>
        <% end %>
      <% if user_signed_in? %>
        <p><%= link_to "Leave a Comment About This Product", new_product_review_path(@product) %>
      <% end %>
  </div>
</div>
