<!DOCTYPE html>
<html>
  <head>
    <title>Adventure</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'css/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%- javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
      <footer id="footer" class="alt">
        <div class="inner">
          <ul class="icons">
          <li><a href="http://www.twitter.com" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="http://www.facebook.com" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/adventure_oats/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
            <strong><%= link_to "Home", root_path %></strong>
            <strong><%= link_to 'Log-out', destroy_user_session_path %></strong>
          <% if user_signed_in? %>
            Logged in as <%= current_user.email %>
          <%= link_to 'Edit Profile', edit_user_registration_path %>
          <%= link_to 'Log-out', destroy_user_session_path, method: :delete %>
        <% else %>
         <ul>
           <li><%= link_to 'Sign Up', new_user_registration_path %></li>
           <li><%= link_to 'Login', new_user_session_path %></li>
         </ul>
         <% end %>
				</ul>
			</div>
      <ul class="copyright">
  			<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
  		</ul>
		</footer>
  </body>
</html>
