<!DOCTYPE html>
<html>
  <head>
    <title>Adventure</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'css/main', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <!-- Header -->
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
      <footer id="footer" class="alt">
        <strong><%= link_to "Home", root_path %></strong>
        <strong><%= link_to 'Log-out', destroy_user_session_path %></strong>
        <% if current_user %>
        <% end %>
          <% if user_signed_in? %>
            Logged in as <%= current_user.email %>
          <%= link_to 'Edit Profile', edit_user_registration_path %>
          <%= link_to 'Log-out', destroy_user_session_path, method: :delete %>
        <% else %>
         <ul>
           <li><%= link_to 'Sign Up', new_user_registration_path %></li>
           <li><%= link_to 'Login', new_user_session_path %></li>
         </ul>
         <% end %>
				</ul>
			</div>
    </div>
		</footer>
  </body>
</html>
